{% load static %}
<input type="text" id="dev-id" class = "d-none" value="{{ device_id }}">
<p id="dev-name" class="display-5"></p2>
<div class="row">
    <div>
        <img src = "{% static 'image/lightbulb_off_2.png' %}" id="bulb-off" height="100" width="100" class="">
        <img src = "{% static 'image/lightbulb_on_2.png' %}" id="bulb-on" height="100" width="100" class="">
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table>
            <tr>
                <td class="display-6">State:</td>
                <td id="dev-on-off" class="display-6"></td>
            </tr>
            <tr>
                <td class="display-6">Level:</td>
                <td id="dev-dim" class="display-6"></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-6">
    <input id="btn-on" class="btn btn-outline-primary m-2" type="button"
        value="On">

    <input id="btn-off" class="btn btn-outline-primary m-2" type="button"
        value="Off">
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="slidecontainer m-2">
            <input type="range" min="1" max-width="150" max="100" value="50" class="slider m-2" id="dim-slider">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <input type="color" id="dev-color" name="color" value="#e66465" class="m-2" />
    </div>
</div>

    
  



<script>
    devID = document.querySelector('#dev-id').value
    console.log(hueLightWebsocketLoaded)
    if (hueLightWebsocketLoaded === false){
        var hueLightWebsocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/hue/hue-device/'
        );
        
        hueLightWebsocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data && data.type === 'update') {
                lightBulbDisplay(data.switch)
                document.querySelector("#dev-name").innerHTML = data.name;
                document.querySelector("#dev-on-off").innerHTML = data.switch;
                document.querySelector("#dev-dim").innerHTML = data.dimming;
                document.querySelector("#dim-slider").value = data.dimming;
                color_picker = document.querySelector("#dev-color")
                if (data.is_color === 'true') {
                    color_picker.className = ""
                    color_picker.value = data.color_hex;
                }
                if (data.is_color === 'false') {
                    color_picker.className = "d-none"
                }
                
            }
            
        };
        hueLightWebsocket.onopen = function(event){
            hueLightWebsocketLoaded = true
            hueLightWebsocket.send(JSON.stringify({
            'type': 'open','dev_id': devID
            }));
            
        }
        hueLightWebsocket.onclose = function(e) {
            console.error('Dashboard socket closed unexpectedly');
        };
    
    } else {
        hueLightWebsocket.send(JSON.stringify({
            'type': 'update','dev_id': devID
        }));
    }

    triggerTab('dev-detail')

    document.querySelector('#btn-on').onclick = function(e) {
                hueLightWebsocket.send(JSON.stringify({
                'type': 'control', 'dev_id': devID, 'command': 'on'
            }));
    };
    document.querySelector('#btn-off').onclick = function(e) {
                hueLightWebsocket.send(JSON.stringify({
                'type': 'control', 'dev_id': devID, 'command': 'off'
            }));
    };
    var slider = document.querySelector("#dim-slider");
        
    slider.onchange = function() {
        hueLightWebsocket.send(JSON.stringify({
                'type': 'control', 'dev_id': devID, 'command': 'dimming', 'value': this.value
            }));
    }
    document.querySelector("#dev-color").onchange = function() {
        hueLightWebsocket.send(JSON.stringify({
                'type': 'control', 'dev_id': devID, 'command': 'color', 'value': this.value
            }));
    }


    function lightBulbDisplay(display) {
        var bulbOn = document.querySelector("#bulb-on")
        var bulbOff = document.querySelector("#bulb-off")
        if (display === 'On'){
            bulbOff.className = "d-none";
            bulbOn.className = "d-inline-block align-top";
        }
        if (display === 'Off'){
            bulbOn.className = "d-none";
            bulbOff.className = "d-inline-block align-top";
        }    
        bulbOn = null
        bulbOff = null
    }

</script>