{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Control</title>
  
    
      <!-- Bootstrap CSS -->
   <link  rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.css' %}">

     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    

    <!-- HTMX -->
    <script src="{% static 'htmx.min.js' %}"></script>
</head>
<body>
  
        {% block layout %}
        {% endblock %}
 
    
    
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script>
    
    

</body>
</html>