
{% extends 'layout.html' %}

{% block page %}



<div id="" class="container-fluid p-4" >
    <div class="row">
      <div class="col col-lg-6">
        <div class="card p-4">
          <div class="card-body ">
            
            <form>
              
              <div id="main-div" class="container-fluid rounded">
                    <h2 class="" >Morpheus</h2>
                    <a href="{% url 'tiles:main' %}" class="btn btn-primary">Tiles</a>
                  
              </div>
            </form>
          
          </div>
        </div>
      
      </div>
        <div class="col col-lg-6">
          <p>Hello WTF</p>
        </div>  
      
    </div>    
  </div>    
  


   





{% endblock%}