{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<div id="" class="container-fluid p-4" >
    <div class="row">
      <div class="col col-lg-6">
        <div class="card p-4 card-color1 ">
          <div class="card-body ">
            
            <form>
              
              <div id="main-div" class="container-fluid rounded">
                    <h2 class="" >Morpheus</h2>
                  
              </div>
            </form>
          
          </div>
        </div>
      
      </div>
        <div class="col col-lg-6">
          <p>Hello</p>
        </div>  
      
    </div>    
  </div>    
  


   





{% endblock content %}