{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Morpheus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'devices:main' %}">Devices</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown">
                            Interfaces
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'hue:main' %}">Philips Hue</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scenes:main' %}">Scenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tiles:home' %}">Tiles</a>
                </li>
            </ul>		  
        </div>
    </div>
</nav>


  
  