<nav class="navbar navbar-expand-lg navbar-light bg-color1" >
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">SSS Links</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'assets:view' %}" hx-target="#main-area" style="cursor: pointer;">Assets</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'users:view' %}" hx-target="#main-area" style="cursor: pointer;">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'accounts:view' %}" hx-target="#main-area" style="cursor: pointer;">Accounts</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'users:logout' %}" hx-target="#main-area" style="cursor: pointer;">Logout</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" hx-get="{% url 'users:login' %}" hx-target="#main-area" style="cursor: pointer;">Login</a>
                </li>		
                
                {% endif %}
            </ul>		  
        </div>
    </div>
    
  </nav>
  
  