.bg-color1 {
    background-color: #000000
}
.bg-color2 {
    background-color: #353437
}

.bg-color3 {
    background-color: #434448
}

.bg-color4 {
    background-color:#68666a
}
.text-color1{
    color:azure
}
.card-color1 {
    border-color: #698fb0;
    background-color: #323336;
    color:#e2eeee;
}
.card-color2 {
    border-color: #698fb0;
    background-color: #444548;
    color:#e2eeee;
}
.text-white {
    color: #FFFFFF;
}
.navbar-theme {
    background-color: var(--theme-7);
    color: #FFFFFF;
    /* font-size: 30px; */
}
.m-nav-link{
    color: #FFFFFF;
}
.m-table {
    background-color: var(--theme-9);
    /* --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075); */
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    vertical-align: top;
    border-color: #dee2e6;
    /* box-shadow: inset 0 0 0 9999px var(--theme-2); */
  }
  .m-table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    /* background-color: var(--theme-4); */
    /* border-bottom-width: 1px; */
    /* box-shadow: inset 0 0 0 9999px var(--theme-8); */
  }
  .m-table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--theme-8);
    color: var(--color-primary-a20);
  }
  .m-table-hover > tbody > tr:hover {
    background-color: var(--theme-9);
    color: var(--theme-4);
  }

:root {
--theme-l: #e9f5ff;
--theme-2: #b5dffd;
--theme-3: #6bc0fc;
--theme-4: #21a0fa;
--theme-5: #0479cc;
--theme-6: #034f84;
--theme-7: #024575;
--theme-8: #023e68;
--theme-9: #02365b;
--theme-l0: #022e4e;
--theme-l1: #012641;
}


:root {
 /* Dark theme primary colors  */
--color-primary-a0: #072ff2;
--color-primary-a10: #4d45f5;
--color-primary-a20: #6e5bf7;
--color-primary-a30: #8871f9;
--color-primary-a40: #9f88fb;
--color-primary-a50: #b49ffc;

/* Dark theme surface colors */ 
--color-surface-a0: #121212;
--color-surface-a10: #282828;
--color-surface-a20: #3f3f3f;
--color-surface-a30: #575757;
--color-surface-a40: #717171;
--color-surface-a50: #8b8b8b;

/* Dark theme mixed surface colors */
--color-surface-mixed-a0: #1a1625;
--color-surface-mixed-a10: #2f2b3a;
--color-surface-mixed-a20: #46424f;
--color-surface-mixed-a30: #5e5a66;
--color-surface-mixed-a40: #76737e;
--color-surface-mixed-a50: #908d96;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
.slider {
    appearance: none; /* removes browser-specific styling */
    width: 300px; /* width of slider */
    height: 25px; /* height of slider */
    background: var(--color-surface-mixed-a40);
    outline: none; /* remove outline */
    border-radius: 50px; /* round corners */
}

.slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: #FFFFFF; /* white color */
  cursor: pointer; /* cursor on hover */
}

.color-tile-button {
    height: 50px;
    width: 80px;
    /* min-width: 80px;
    max-width: 100px; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: white;
    transition: transform 0.3s ease;
}

.color-tile-display {
    height: 50px;
    width: 120px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    color: black;
    transition: transform 0.3s ease;
}

.color-tile-item:hover {
    transform: scale(1.05);
}

.color-tile-item:focus {
    transform: scale(.95);
}

.ui-scene-tile {
    height: 125px;
    width: 125px;
    border: white 2px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.ui-nav-tile {
    height: 75px;
    width: 125px;
    border: white 2px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: green;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.ui-info-tile-1 {
    height: 75px;
    width: 125px;
    border: white 2px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(145, 86, 171);
    transition: transform 0.3s ease;
    cursor: pointer;
}



.ui-tile-clicked {
    border: rgb(184, 23, 23) 4px solid;
}