{% extends 'layout.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block page %}





<input type="hidden" id="token" value="{{ csrf_token }}">

<div class="container-fluid rounded p-4">

 
  <div id="tilesAlertContainer">
  </div>
 
  
  <div class="row">
        <div class="col col-lg-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link  active" id="t-pages-tab" data-bs-toggle="tab" data-bs-target="#t-pages" type="button" role="tab">Pages</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="t-setting-tab" data-bs-toggle="tab" data-bs-target="#t-settings" type="button" role="tab">Settings</button>
            </li>
            
            
          </ul>
        
          <div class="tab-content mt-3" id="myTabContent">
            
            <div class="tab-pane fade  show active" id="t-pages" role="tabpanel">
              <div id="t-page-area" class="container-fluid" hx-get="{% url 'tiles:page-main' %}" hx-trigger="load" hx-target="#t-page-area">
                <p>Pages</p>
                
              
              
              
              </div>
            </div>  
            

            <div class="tab-pane fade" id="t-settings" role="tabpanel">
              
                
                  <div id="t-settings-area" >
                    <p>Settings</p>
                  </div>
                
              
            </div>
          </div>

        </div>
    </div>
        
</div>

<div class="modal fade" id="modal-window" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="modal-delete-page-area" class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title" id="staticBackdropLabel">Change This</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modal-body" class="modal-body">
        Change This
      </div>
      <div id="" class="modal-footer">
        <button id="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="btn-modal-delete" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>


<script>
  var Socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/tiles/gen/'
        );
    
  Socket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      console.log(data)

      if (data['type'] === 'page_deleted') {
        if (data['msg_type'] === 'success') {
            showTileAlert('success', data['message'])
            htmx.ajax("GET", "{% url 'tiles:page-main' %}", "#t-page-area")
        }
        else {
            showTileAlert('danger', data['message'])
        }
        }

        if (data['type'] === 'section_deleted') {
          if (data['msg_type'] === 'success') {
              showTileAlert('success', data['message'])
              
              htmx.ajax("GET", data['return_url'], "#t-page-area")
          }
          else {
              showTileAlert('danger', data['message'])
          }
        }

  }


  function showTileAlert(type, msg) {
      //types are: success, info, warning, danger
      const cont = 
          document.getElementById('tilesAlertContainer');
      while (cont.firstChild) {
          cont.removeChild(cont.firstChild);
      }
      cont.appendChild(document.createElement('br'));
      const aDiv = document.createElement('div');
      aDiv.classList.
          add('alert', 'alert-' + 
              type, 'alert-dismissible', 
              'fade', 'show');
      aDiv.setAttribute('role', 'alert');
      aDiv.innerHTML = 
      '<strong>' + msg +
      `<button type="button"
          class="btn-close" data-bs-dismiss="alert"
          aria-label="Close">
      </button>`;
      cont.appendChild(aDiv);
      // setTimeout(function () {
      //     aDiv.classList.remove('show');
      // }, 3000);
        }
</script>

{% endblock %}