{% extends 'layout.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block page %}





<input type="hidden" id="token" value="{{ csrf_token }}">

<div class="container-fluid rounded p-4">
    
    <div class="row">
        <div class="col col-lg-8">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link  active" id="sc-list-tab" data-bs-toggle="tab" data-bs-target="#sc-list" type="button" role="tab" aria-controls="sc-list" aria-selected="true">Scenes</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="sc-detail-tab" data-bs-toggle="tab" data-bs-target="#sc-detail" type="button" role="tab" aria-controls="sc-detail" aria-selected="false">Detail</button>
            </li>
            
            
          </ul>
        
          <div class="tab-content mt-3" id="myTabContent">
            
          
            <div class="tab-pane fade  show active" id="sc-list" role="tabpanel" aria-labelledby="sc-list-tab">
             
                  <button class="btn btn-primary" type="button" hx-get="{% url 'scenes:create' %}" hx-target="#sc-detail-area">Add Scene</button>
                  <div id="sc-list-area" hx-get="{% url 'scenes:scene-list' %}" hx-trigger="load" hx-target="#sc-list-area">
                    <p>Scenes</p>

                  </div>
                
              
            </div>

            <div class="tab-pane fade" id="sc-detail" role="tabpanel" aria-labelledby="sc-detail-tab">
              
                
                  <div id="sc-detail-area" >
                    <p>Select a Scene</p>
                  </div>
                
              
            </div>

            
            

        </div>



           
            
        </div>
    </div>      
</div>

<script>

  const triggerTab = (tabId) => {
        console.log("trigger", tabId)
        const tabTriggerEl = document.querySelector(`button[data-bs-target="#${tabId}"]`);
        const tab = new bootstrap.Tab(tabTriggerEl);
        tab.show(); 
  };
  sceneList = document.querySelector("#sc-list-area");
  sceneDetail = document.querySelector("#sc-detail-area");
 
    // sc = htmx.find("#sc-list-area")
    // htmx.ajax("GET", "{% url 'scenes:scene-list' %}", "#sc-list-area")
    
  
//   var hueLightWebsocketLoaded = false

//   const triggerTab = (tabId) => {
//         const tabTriggerEl = document.querySelector(`button[data-bs-target="#${tabId}"]`);
//         const tab = new bootstrap.Tab(tabTriggerEl);
//         tab.show(); 
//   };
//   const genSocket = new WebSocket(
//       'ws://'
//       + window.location.host
//       + '/ws/devices/gen/'
      
//   );
//   document.querySelector('#sc-detail-area').change = function(e) {
//     console.log("Changed")
//   };
  
//   function contentChanged() {
//    console.log("Changed")
//   }
//   genSocket.onmessage = function(e) {
//     const data = JSON.parse(e.data);
//     document.querySelector('#message').innerHTML = data.message;
//   };

//   genSocket.onclose = function(e) {
//     console.error('Dashboard socket closed unexpectedly');
//   };

//   document.querySelector('#sync-device-db').onclick = function(e) {
//     genSocket.send(JSON.stringify({
//       'message': 'sync_device_db'
//     }));
//   };
  

</script>

{% endblock %}

