{% load render_table from django_tables2 %}

{% render_table table %}


<script>
    checkboxes = document.querySelectorAll("[name=chk-selected]");
    
    document.querySelector('#btn-add-device').onclick = function(e) {
        if (confirm('Are you sure you want to add / remove these devices to the scene?') == true) {
            checked_id_list = [];
            not_checked_id_list = [];
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked === true) {
                    checked_id_list.push(checkboxes[i].value)        
                } else if (checkboxes[i].checked === false) {
                    not_checked_id_list.push(checkboxes[i].value)        
                }     
        
            }   
        
            Socket.send(JSON.stringify({
                'type': 'add_remove_devices','checked_id_list': checked_id_list, 'not_checked_id_list': not_checked_id_list,  'scene_id': sceneID
            }));
    

        }
        
    };
    
    
</script>